@import "./variables";
@import "./mixins";
@import "./nav";
@import "./landing";
@import "./tools";
@import "./footer";

body {
  padding: 0;
  margin: 0;
  font-family: $font;
  font-size: $fa-sm;
  @include responsive($lg) {
    font-size: $fa-md;
  }
  @include responsive($mxl) {
    font-size: $fa-lg;
  }
}
